.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: var(--spacing-400);
}

/* Tablet Media Query */
@media (min-width: 768px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto minmax(0, 1fr) auto auto; /* This line ensures only row 2 stretches */
    gap: var(--spacing-400);
  }

  .card1 {
    max-width: 647px;
    width: 100%;
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  .card2 {
    max-width: 307.5px;
    width: 100%;
    grid-column: 1;
    grid-row: 2;
  }

  .card3 {
    max-width: 307.5px;
    width: 100%;
    height: 100%;
    display: flex;
    grid-column: 2;
    grid-row: 2;
  }

  .card4 {
    grid-column: 1 / span 2;
    grid-row: 3;
  }

  .card5 {
    grid-column: 1 / span 2;
    grid-row: 4;
  }
}

/* Desktop Media Query */
@media (min-width: 1440px) {
  .wrapper {
    display: grid;
    grid-template-columns: 50% 25% 25%; /* 3 columns */
    grid-template-rows: 50% 50%; /* 2 rows */
    gap: var(--spacing-400); /* adjust as needed */
  }

  .card1 {
    max-width: 540px;
    width: 100%;
    grid-column: 1;
    grid-row: 1;
  }

  .card2 {
    max-width: 255px;
    width: 100%;
    grid-column: 2;
    grid-row: 1;
  }

  .card3 {
    max-width: 255px;
    width: 100%;
    grid-column: 1;
    grid-row: 2;
  }

  .card4 {
    max-width: 540px;
    width: 100%;
    grid-column: 2;
    grid-row: 2;
  }

  .card5 {
    max-width: 255px;
    width: 100%;
    height: 100%;
    grid-column: 3;
    grid-row: 1 / span 2;
  }
}
